:root
{
    --primary-color: #182643;
    --accent-color: #F5A506;
    --accent-muted-color: #f5a50633;
    --background-color: #FDFCFA;
    --background-secondary-color: #fffaf0;
    --muted-color: #E8E4DD;
    --border-color:#E5E0D6;
}