@import 'colors.css';
body
{
    background-color: var(--background-color);
    font-family: Georgia;
}

/* Element Alignment */

.center_object
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center_object_vertically
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.right_object
{
    display: flex;
    justify-content: flex-end;
}

.center_text
{
    text-align: center;
}

hr
{
    width: 95%;
}

/* Format */

.new_page
{
    padding: 1vw;
}

.nav_background
{
    background-color: var(--muted-color);
    opacity: 0.95;
}

.hero
{
    background-color: var(--primary-color);
    width: 100%;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.nav_center
{
    position: absolute;
    left: 49%;
    transform: translateX(-50%);
}

footer
{
    padding: 3%;
    margin: 0px;
}

.hero_popup
{
    display: inline-block;
    padding: 7px;
    font-size: 16px;
    border-color: var(--accent-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    background-color: var(--accent-muted-color);
}

.hero_text
{
    width: 75%;
}

.button_hover_harsh:hover
{
    box-shadow: 0px 0px 10px 0px #FFFFFF33;
    background-color: var(--accent-color);
}

.soft_button
{
    border-color: var(--border-color);
    border-style: solid;
}

.soft_button:hover
{
    border-color: var(--border-color);
    border-style: solid;
    color: var(--primary-color);
    background-color: var(--muted-color, 0.8);
}

.new_section
{
    padding: 10%;
}

.new_section_secondary
{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;

    background-color: var(--secondary-color);
}

.disable_link
{
    pointer-events: none;
    opacity: 0.50;
}

/* Card Trats */

.card_img_cover
{
    width: 100%;
    height: 200px;
    object-fit:contain;
}
.card
{
    padding: 10px;
    background-color: var(--card-background-color);
    border-radius: 20px;
}

.card-header
{
    background-color: var(--primary-color)
}

.card:hover
{
    box-shadow: 0px 0px 5px 0px #00000033;
    transition: 0.3s;
}

/* Colors */

.primary_text
{
    color: var(--primary-color);
}

.accent_text
{
    color: var(--accent-color);
}

.muted_text
{
    color: var(--muted-color);
}

.accent_background
{
    background-color: var(--accent-color);
}

.primary_background
{
    background-color: var(--primary-color);    
}

.primary_secondary_background
{
    background-color: var(--secondary-color);
}