@import 'colors.css';
body
{
    background-color: var(--background-color);
    font-family: Georgia;
}

/* Element Alignment */

.center_object
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center_text
{
    text-align: center;
}

/* Format */

.nav_background
{
    background-color: var(--muted-color);
    opacity: 0.8;
}

.hero
{
    background-color: var(--primary-color);
    padding: 10%;
    margin: 0px;
}

footer
{
    padding: 3%;
    margin: 0px;
}

.hero_popup
{
    display: inline-block;
    padding: 7px;
    font-size: 16px;
    border-color: var(--accent-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    background-color: var(--accent-muted-color);
}

.hero_text
{
    width: 75%;
}

.button_hover_harsh:hover
{
    box-shadow: 0px 0px 10px 0px #FFFFFF33;
    background-color: var(--accent-color);
}

.soft_button
{
    border-color: var(--border-color);
    border-style: solid;
}

.soft_button:hover
{
    border-color: var(--border-color);
    border-style: solid;
    color: var(--muted-color);
    background-color: var(--muted-color, 0.8);
}

/* Colors */

.primary_text
{
    color: var(--primary-color);
}

.accent_text
{
    color: var(--accent-color);
}

.muted_text
{
    color: var(--muted-color);
}

.accent_background
{
    background-color: var(--accent-color);
}