{% extends 'landing_template.html' %}

{% block content %}
<div class="new_page">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> <a href="{{ url_for('Home') }}"> Home </a> </li>
            <li class="breadcrumb-item"> <a href="/instrument_family/{{family_name}}"> {{ family_name }} </a> </li>
            <li class="breadcrumb-item"> <a href="/instrument_family/{{family_name}}/{{instrument_name}}"> {{ instrument_name }} </a> </li>
            <li class="breadcrumb-item"> <a href="/instrument_family/{{family_name}}/{{instrument_name}}/{{category_name}}"> {{ category_name }} </a> </li>
            <li class="breadcrumb-item active"> {{ article_name }} </li>
        </ol>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="article">
                    {{ article | safe }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
