{% extends 'landing_template.html' %}

{% block content %}

<div class="new_page">
    <h1> Contact Me </h1>
    <div class="new_section">
        <h2 class="center_text"> Where to find me :) </h2>
        <p class="center_text"> <b>Email:</b> <a href="mailto:andrewespinosa.music@gmail.com"> andrewespinosa.music@gmail.com </a></p>
        
        <br>
        <p class="center_text"> <em> Note: </em> This project is managed by a single person. Please do not hesitate to contact me, I will answer comments and concerns personally. </p>
    </div>
</div>

{% endblock %}