{% extends "landing_template.html" %}
{% block content %}

<div class="new_page">
    <div class="hero">
        <div class="center_text">
            <p class="center_text accent_text hero_popup"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-icon lucide-book"><path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20"/></svg>
                Your Music Resource </p>
        </div>

        <h1 class="muted_text center_text"> Welcome to <span class="accent_text"> My Melodic <span> </h1>
        <br>
        <p class="center_text center_object muted_text hero_text"> A comprehensive wiki designed to level the playing field in music education. Expert-reviewed articles on instruments, theory, and technique. </p>
        <br>
        <div class="center_text">
            <a href="#" class="btn primary_text accent_background button_hover_harsh"> Browse Articles <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg> 
                </a>
            <a href="#" class="btn muted_text soft_button"> Learn More </a>
        </div>
    </div>

    <!-- Instrument Type -->
    <div class="new_section">
        <div class="center_text">
            <p class="center_text accent_text hero_popup"> Instrument Families </p>
            <h2 class="center_text primary_text"> Explore by Type </h1>
            <p class="center_text primary_text"> Still a work in progress adding more instruments </p>
            
            <div class="container">
                <div class="row">

                    <!-- Woodwinds -->
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <svg class="card-img-top" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-music-icon lucide-music"><path d="M9 18V5l12-2v13"/><circle cx="6" cy="18" r="3"/><circle cx="18" cy="16" r="3"/></svg>
                                <br>
                                <h2 class="card-title"> Woodwinds </h2>
                                <p class="card-text"> A diverse family of instruments that produce sound by splitting air across an edge or by vibrating a single or double reed. </p>
                                <a href="#" class="btn center_object primary_text accent_background button_hover_harsh"> Learn more <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg> 
                                    </a>
                            </div>
                        </div>
                    </div>

                    <!-- Brass -->

                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <svg class="card-img-top" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-music-icon lucide-music"><path d="M9 18V5l12-2v13"/><circle cx="6" cy="18" r="3"/><circle cx="18" cy="16" r="3"/></svg>
                                <br>
                                <h2 class="card-title"> Brass </h2>
                                <p class="card-text"> Also wind instruments, typically made of metal that produce sound through the vibration of a player's lips (buzzing) into a cup or funnel-shaped mouthpiece. </p>
                                <a href="#" class="btn center_object primary_text accent_background button_hover_harsh"> Learn more <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg> 
                                    </a>
                            </div>
                        </div>
                    </div>

                    <!-- Strings -->

                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <svg class="card-img-top" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-music-icon lucide-music"><path d="M9 18V5l12-2v13"/><circle cx="6" cy="18" r="3"/><circle cx="18" cy="16" r="3"/></svg>
                                <br>
                                <h2 class="card-title"> Strings </h2>
                                <p class="card-text"> These instruments produce sound through the vibration of strings! The strings stretch between two points, and when plucked, bowed, or struck, they vibrate to create sound.  </p>
                                <a href="#" class="btn center_object primary_text accent_background button_hover_harsh"> Learn more <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg> 
                                    </a>
                            </div>
                        </div>
                    </div>

                    <!-- Percussion -->

                     <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <svg class="card-img-top" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-music-icon lucide-music"><path d="M9 18V5l12-2v13"/><circle cx="6" cy="18" r="3"/><circle cx="18" cy="16" r="3"/></svg>
                                <br>
                                <h2 class="card-title"> Percussion </h2>
                                <p class="card-text"> A diverse family of musical instruments that create sound by being struck, shaken, scraped, or clashed together. </p>
                                <a href="#" class="btn center_object primary_text accent_background button_hover_harsh"> Learn more <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg> 
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <!-- About Us -->

    <div class="new_section">

    </div>
</div>

{% endblock %}