{% extends "landing_template.html" %}
{% block content %}

<div class="new_page">
    <div class="hero">
        <div class="center_text">
            <p class="center_text accent_text hero_popup"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-icon lucide-book"><path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20"/></svg>
                Your Music Resource </p>
        </div>

        <h1 class="muted_text center_text"> Welcome to <span class="accent_text"> My Melodic <span> </h1>
        <br>
        <p class="center_text center_object muted_text hero_text"> A comprehensive wiki designed to level the playing field in music education. Expert-reviewed articles on instruments, theory, and technique. </p>
        <br>
        <div class="center_text">
            <a href="#" class="btn primary_text accent_background button_hover_harsh"> Browse Articles <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg> 
                </a>
            <a href="#" class="btn muted_text soft_button"> Learn More </a>
        </div>
    </div>

    <!-- Instrument Type -->
    <div class="instrument_type">
        
    </div>
</div>

{% endblock %}