{% extends 'landing_template.html' %}

{% block content %}
<div class="new_page">
    <nav aria-label="breadcrumb"> 
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> <a href="{{ url_for('Home') }}"> Home </a>  </li>
            <li class="breadcrumb-item active"> {{ family_name }} </li>
        </ol>
    </nav>

    <h1> {{ family_name }} </h1>
    <br>
    
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for i in range(instrument_list|length) %}
            <div class="col-lg-4">
                <div class="card">
                    <img src="/static/images/{{instrument_list[i]}}/{{instrument_list[i]}}_card.jpg" class="card-img-top card_img_cover">
                    <br>
                    <h2> {{instrument_list[i]}} </h2>
                    <p> {{bio_list[i]}} </p>
                    <a class="btn primary_text accent_background button_hover_harsh center_object" href="/instrument_family/{{family_name}}/{{instrument_list[i]}}"> Learn More </a>
                    <br>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
</div>

{% endblock content %}