{% extends 'landing_template.html' %}

{% block content %}
<div class="new_page">
    <h1 class="mb-4"> Login / Signup </h1>

    <div class="paper">
        <ul class="nav nav-tabs justify-content-center" id="authTabs">
            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#login"> Sign In </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#signup"> Create Account </button>
            </li>
        </ul>

        <div class="tab-content primary_secondary_background">

            <div class="tab-pane fade show active form_paper" id="login">
                <h2 class="mb-1"> Welcome Back! </h2>
                <p class="mb-4"> Sign in to your MyMelodic account </p>
                <form>
                    <label for="input_email" class="form-label"> Email </label>
                    <input class="form-control mb-3" id="input_email" type="email" placeholder="Enter email...">

                    <label for="input_password" class="form-label"> Password </label>
                    <input class="form-control mb-4" id="input_password" type="password" placeholder="Enter password...">

                    <button class="btn accent_background primary_text center_object" type="submit"> Sign In </button>
                    <p class="center_text mt-3"> <a class="primary_text no_decoration" href="#"> Create an account </a> </p>
                </form>
            </div>

            <div class="tab-pane fade form_paper" id="signup">
                <h2 class="mb-1"> Welcome to MyMelodic! </h2>
                <p> We're so excited you're joining us in this journey! </p>
            </div>

        </div>
    </div>
</div>

{% endblock %}
