{% extends "temp_one.html" %}
{% block main %}

<!-- HERO -->

<div id="parralax">
    <div id="hero" class="">
        <b>
            <h1 class="center_text"> Welcome to MyMelodic </h1>
            <p class="center_text"> Master your Instrument with Confidence </p>
        </b>
    </div>
</div>

<!-- MAIN -->

<div id="main" class="new_object">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2> What is MyMelodic? </h2>
            </div>
            <div class="col-lg-6">
                <p> MyMelodic combines curated repertoire recommendations, instrument maintenance 
                    guides, and essential practice tools all in one personalized dashboard. Whether
                    you're a beginner or advanced musician, Chordly helps you grow faster, smarter, 
                    and with purpose. </p>
            </div>
        </div>

    </div>

</div>

<!-- KEY BENEFITS -->

<div id="key_benefits" class="new_object">
    <h2> Why Chordly? </h2>
    <div class="small_space"></div>
    <div class="container"> 
        <div class="row">
            <div class="col-lg-4"> 
                <div class="card border-secondary">

                    <h4 class="card-header center_text"> Curated Pieces & Composers </h4>
                    <p class="card-text"> Explore repertoire tailored to your skill level and genre interest </p>
                </div>
            </div>

            <div class="col-lg-4"> 
                <div class="card">
                    <h4 class="card-header center_text"> Instrument Maintenance Guides </h4>
                    <p class="card-text"> Learn how to care for your instrument like a pro </p>
                </div>
            </div>

            <div class="col-lg-4"> 
                <div class="card">
                    <h4 class="card-header center_text"> Practice Tools & Journal </h4>
                    <p class="card-text new"> Track your practice, build consistency, and stay motivated </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Call To Action (CTA) -->

<div id="cta" class="new_object">
    <h2> Be the first to experience Chordly </h2>
    <hr>
    <form>

    </form>
</div>

<!--  -->
{% endblock %}