{% extends "temp_one.html" %}
{% block main %}

<!-- HERO -->

<div id="parralax">
    <div id="hero" class="">
        <b>
            <h1 class="center_text bg-dark bg-opacity-25"> Welcome to MyMelodic </h1>
            <p class="center_text bg-dark bg-opacity-25"> Master your Instrument with Confidence </p>
        </b>
    </div>
</div>

<!-- MAIN -->

<div id="main" class="new_object">
    <h1 class=""> Why choose MyMelodic </h1>
    <p> MyMelodic combines curated repertoire recommendations, instrument maintenance 
        you're a beginner or advanced musician, Chordly helps you grow faster, smarter, 
        guides, and essential practice tools all in one personalized dashboard. Whether        
        and with purpose. </p>
</div>

<!-- KEY BENEFITS -->

<div id="key_benefits" class="new_object">
    <div class="small_space"></div>
    <h1> Features </h1>
    <div class="container"> 
        <div class="row">
            <div class="col-lg-4"> 
                <div class="card border-secondary">
                    <h4 class="card-header center_text"> Curated Pieces & Composers </h4>
                    <p class="card-text new_small_object"> Explore repertoire tailored to your skill level and genre interest </p>
                </div>
            </div>

            <div class="col-lg-4"> 
                <div class="card">
                    <h4 class="card-header center_text"> Instrument Maintenance Guides </h4>
                    <p class="card-text new_small_object"> Learn how to care for your instrument like a pro </p>
                </div>
            </div>

            <div class="col-lg-4"> 
                <div class="card">
                    <h4 class="card-header center_text"> Practice Tools & Journal </h4>
                    <p class="card-text new new_small_object"> Track your practice, build consistency, and stay motivated </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Call To Action (CTA) -->

<div id="cta" class="new_object">
    <h2> Be the first to experience MyMelodic </h2>
    <hr>
    <form id="">
  <!-- START - We recommend to place the below code where you want the form in your website html  -->
  <div class="sib-form" style="text-align: center;
           background-color: #EFF2F7;                                           ">
    <div id="sib-form-container" class="sib-form-container">
      <div id="sib-container" class="sib-container--large sib-container--vertical" style="text-align:center; background-color:rgba(255,255,255,1); max-width:540px; border-radius:3px; border-width:1px; border-color:#C0CCD9; border-style:solid;">
        <form id="sib-form" method="POST" action="https://36c11991.sibforms.com/serve/MUIFALugOTCNeQILDBrBfQuahYVVHK4y_94K91lYCiL_GM9KYQ8rARyEcTrACbzjsZwjdkbwLv73VgwoCS7K0QOXIMv4VNmDbQaps_DGqSrRB-8mkwITsH7553uaaG4peC7xMfzXNRLIhapphGKv0jyQ6egmAnHhJnT1tiuh-iWsKGJP99YoqQtCURMuOkeBpFvm3byRaCAM29sO">
          <div style="padding: 8px 0;">
            <div class="sib-form-block" style="font-size:32px; text-align:left; font-weight:700; font-family:Helvetica, sans-serif; color:#3C4858; background-color:transparent; text-align:left">
              <p>Newsletter</p>
            </div>
          </div>
          <div style="padding: 8px 0;">
            <div class="sib-form-block" style="font-size:16px; text-align:left; font-family:Helvetica, sans-serif; color:#3C4858; background-color:transparent; text-align:left">
              <div class="sib-text-form-block">
                <p>Subscribe to our newsletter and stay updated.</p>
              </div>
            </div>
          </div>
          <div style="padding: 8px 0;">
            <div class="sib-input sib-form-block">
              <div class="form__entry entry_block">
                <div class="form__label-row ">
                  <label class="entry__label" style="font-weight: 700; text-align:left; font-size:16px; text-align:left; font-weight:700; font-family:Helvetica, sans-serif; color:#3c4858;" for="EMAIL" data-required="*">Enter your email address to subscribe</label>
  
                  <div class="entry__field">
                    <input class="input " type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="EMAIL" data-required="true" required />
                  </div>
                </div>
  
                <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; font-family:Helvetica, sans-serif; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
                </label>
                <label class="entry__specification" style="font-size:12px; text-align:left; font-family:Helvetica, sans-serif; color:#8390A4; text-align:left">
                  Provide your email address to subscribe. For e.g abc@xyz.com
                </label>
              </div>
            </div>
          </div>
          <div style="padding: 8px 0;">
            <div class="sib-form-block" style="text-align: left">
              <button class="sib-form-block__button sib-form-block__button-with-loader" style="font-size:16px; text-align:left; font-weight:700; font-family:Helvetica, sans-serif; color:#FFFFFF; background-color:#3E4857; border-radius:3px; border-width:0px;" form="sib-form" type="submit">
                <svg class="icon clickable__icon progress-indicator__icon sib-hide-loader-icon" viewBox="0 0 512 512" style="">
                  <path d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z" />
                </svg>
                SUBSCRIBE
              </button>
            </div>
          </div>
          <input type="text" name="email_address_check" value="" class="input--hidden">
          <input type="hidden" name="locale" value="en">
          <input type="hidden" name="html_type" value="simple">
        </form>
      </div>
    </div>
  </div>
  <!-- END - We recommend to place the above code where you want the form in your website html  -->
  <!-- End Brevo Form -->
    </form>
</div>

<!--  -->
{% endblock %}