/* 
    General Objects
*/

.center_text
{
    text-align: center;
}

.center_object
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.new_object
{
    margin: 5%;
}

.new_page
{
    margin: 3%;
}

.new_small_object
{
    padding: 5%;
}

.large_space
{
    margin-top: 3%;
    margin-bottom: 3%;
}

.medium_space
{
    margin-top: 2%;
    margin-bottom: 2%;
}

.small_space
{
    margin-top: 1%;
    margin-bottom: 1%;
}

.no_decoration
{
    text-decoration: none;
}

.color_white
{
    color: white;
}

.article_style
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 3%;
    background-color: #f8f9fa;
}