footer
{
    padding: 4%;
}

#parralax
{
    background-image: url("/static/images/hero_image.jpg");
  /* Set a specific height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

#hero
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}