{% extends 'temp_one.html' %}
{% block main %}

<div class="new_page">
    <h1 class="center_text"> About Us </h1>
    <hr>
    <div class="article_style">
        <p>As MyMelodic, our main mission is to bridge the gap for music education. 
            If a student decides to enter the music industry, it is clear from day 1 
            that there is a large disparity between the most experienced and the least 
            experienced individual in the classroom. Allowing musicians to have a place 
            that explains, shows, and guides students to be more advanced on their 
            instrument would be a game changer. It would allow those students the opportunity 
            to get some sort of direction that would otherwise be given by private instructors
            or a school, and allow those who have more resources the opportunity to progress
            at their current desired pace. We are modernizing music education, and with 
            that, we will see growth like no other.</p>
    </div>
</div>

{% endblock %}
