{% extends  "temp_one.html"%}
{% block main %}

<link rel="stylesheet" href="../../static/CSS/privacy_style.css" type="text/css">
<div class="new_page">
    <h1 class="center_text medium_space"> Privacy Policy </h1>
    <hr>
    <div id="main_text" class="new_object article_style">
        <p>


            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Maecenas convallis diam a fringilla feugiat. Duis mattis nunc sed 
            nisl convallis, ut hendrerit nulla aliquet. Suspendisse gravida sem 
            sodales velit mattis, nec vestibulum metus elementum. Mauris facilisis 
            nulla libero, accumsan laoreet erat laoreet eget. Vestibulum rutrum nisl 
            dapibus nulla imperdiet, in aliquet ex sollicitudin. Pellentesque 
            bibendum ultricies lorem quis suscipit. Integer vestibulum nisi viverra 
            orci eleifend, sit amet condimentum mauris condimentum. Etiam nec maximus 
            augue, et luctus elit. Nulla hendrerit id sem quis convallis.
            <br>
            Praesent magna ex, mattis id leo nec, posuere aliquam nibh. Aliquam 
            nulla libero, scelerisque sit amet nulla vel, pretium posuere felis. 
            Morbi porttitor diam vitae odio posuere, id porttitor nunc dapibus. 
            Morbi mollis, ante non rutrum lacinia, metus dui aliquam est, sit amet 
            efficitur lectus mi et felis. Vestibulum diam tortor, aliquet eget 
            lobortis eget, pharetra consectetur mi. Curabitur vulputate turpis in 
            quam ornare, varius malesuada quam aliquet. Donec sed finibus libero, 
            in porta dolor. Sed a aliquam sem. Morbi id augue faucibus, pellentesque 
            lacus a, vehicula orci. Nam tincidunt efficitur sagittis. Aliquam ac 
            dapibus ex. Pellentesque a dui nec enim interdum porttitor et vel urna. 
            Nullam et euismod odio. Morbi consequat nulla at velit rhoncus accumsan. 
            Vestibulum interdum tempus tristique.
            <br><br>
            Suspendisse at lorem id nunc cursus congue sed vel dui. Pellentesque 
            habitant morbi tristique senectus et netus et malesuada fames ac turpis
            egestas. Donec vulputate tristique egestas. Phasellus a sodales felis, 
            et efficitur nulla. Ut in arcu sed orci sodales suscipit. In odio 
            ipsum, faucibus sed tincidunt pharetra, fringilla vel purus. Aliquam 
            vitae elit ac sapien aliquet bibendum. Nulla pharetra odio in augue 
            hendrerit, ac pretium lorem consectetur. Morbi fermentum ex non ante 
            tempor egestas. Curabitur ut pulvinar sem.
            <br><br>
            Nulla iaculis odio elit, et fringilla diam commodo eget. In accumsan 
            tempor pharetra. Morbi eleifend sit amet lorem non consectetur.
            Pellentesque habitant morbi tristique senectus et netus et malesuada 
            fames ac turpis egestas. Ut id mollis mauris. Suspendisse fringilla 
            massa condimentum velit aliquam, in consequat est vehicula. Etiam sed 
            metus ornare tortor scelerisque convallis. Aliquam vitae arcu bibendum, viverra ipsum varius, dignissim dui. Integer non sodales massa, ut maximus est.
            <br> <br>
            In laoreet faucibus metus non faucibus. Mauris quis euismod libero, ut 
            consequat arcu. Nullam pharetra, eros sit amet hendrerit malesuada, nunc
            arcu malesuada diam, id aliquam lorem nibh in nibh. Etiam placerat mi 
            lorem, at pretium lacus aliquet vel. Cras a dolor nec purus interdum 
            sodales. Donec at purus molestie, lacinia dolor at, fermentum mi. 
            Integer facilisis vel dolor ut gravida.

        </p>
    </div>
</div>

{% endblock %}