<html>
    <head>
      <title> My Melodic </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/universal.css">
        <link rel="stylesheet" href="../static/CSS/temp_one.css">
        <title> Home </title>
    </head>

    <!-- Body -->

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

        <!-- Navigation Bar -->
        <nav class="navbar sticky-top navbar-expand-lg nav_background">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"> My Melodic </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <div class="center_object">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Navigation Links Start -->
                        <li class="nav-item">
                            <a class="nav-link" href="#"> <button class="btn button-item"> Articles </button> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> <button class="btn button-item"> Instruments </button> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> <button class="btn button-item"> About </button> </a>
                        </li>
                    </ul>
                </div>

                <!-- Not logged in -->
                <div class="nav-item">
                    <a class="nav-link" href="#"> <button class="btn auth_button"> Login/Signup </button> </a>
                </div>

                  <!-- Navigation Links End -->

              </div>
            </div>
          </nav>

        <!-- Page Contents -->
         {% block content %}
        <div></div>
        {% endblock %}

    </body>

    <!-- Footer -->
     <hr>
    <footer>
        <p> My Melodic @2026 </p>
    </footer>
</html>